#icon {
  filter: brightness(100);
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
}
#weather-icon {
  filter: brightness(100);
  width: 40px;
  height: 40px;
  margin-top: -15px;
  margin-bottom: -15px;
}
.row {
  padding: 10px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.monday {
  background-color: #6ab7b7;
}
.tuesday {
  background-color: #58a3ab;
}
.wednesday {
  background-color: #3d8498;
}
.thursday {
  background-color: #276b88;
}
.friday {
  background-color: #17597d;
}
